<%= render "shared/header"%>

<div class="container">
  <div class="flash">
    <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
    <% end %>
  </div>

  <div class="d-flex justify-content-between">
    <h2 class="PageTitle__text">予定一覧</h2>
    <%= link_to "新規登録", :new_post, class:"btn btn-outline-primary pt-2" %>
  </div>

  <div class="table-responsive TableResponsive">
    <table class="table Table">
      <thead>
        <tr>
          <th>ID</th>
          <th>タイトル</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>終日</th>
          <th>更新日時</th>
        </tr>
      </thead>

      <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%=post.id %></td>
          <td><%=post.title %></td>
          <td><%=post.start_date&.strftime('%Y/%m/%d') %></td>
          <td><%=post.end_date&.strftime('%Y/%m/%d') %></td>
          <td>
          <% if post.all_day == true %>
          <strong>⚪︎</strong>
          <% end %>
          </td>
          <td><%= post.updated_at.to_s(:datetime_jp) %></td>
          <td><%= link_to "詳細", post %></td>
          <td><%= link_to "編集", [:edit, post] %></td>
          <td>
          <%= link_to "削除", "#", data: { toggle: "modal", target: "#deleteModal#{post.id}" } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% @posts.each do |post| %>
      <div class="modal fade" id="deleteModal<%=post.id%>" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <p class="modal-title" id="deleteModalLabel">削除の確認</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                本当に削除しますか？
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">キャンセル</button>
                <%= link_to "削除", post, method: :delete, class: "btn btn-outline-danger" %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <footer class="card Footer">
    <div class="card-body FooterBody">
      <p class="FooterBody__count">
        予定合計&nbsp;<%= @posts.count %>件
      </p>
      <p class="FooterBody__datetime">
        本日の日付&nbsp;<%= Date.today.strftime('%Y/%m/%d') %>
      </p>
    </div>
  </footer>
</div>
