<%= render "shared/header"%>


<div class="container">
  <div class="col-md-6 page_title">
    <p class="tilte">予定の新規追加</p>
  </div>
  <%= form_with model: @post do |f| %>
    <div class="col-md-6">
      <%= f.label :title, "タイトル"%>
      <%= f.text_field :title, class: "form-control" ,placeholder: "タイトル"  %>
    </div>

    <div class="col-md-6">
      <%= f.label :start_date, "開始日" %>
      <div>
      <%= f.date_field :start_date %>
      </div>
    </div>

    <div class="col-md-6">
      <%= f.label :end_date, "終了日" %>
      <div>
      <%= f.date_field :end_date %>
      </div>
    </div>
    <div class="col-md-6 mt-2">
      <%= f.label :all_day, "終日" %>
      <div>
      <%= f.check_box :all_day %>
      </div>
    </div>

    <div class="col-md-6">
      <%= f.label :introduction ,"スケジュールメモ" %>
      <%= f.text_area :introduction, class: "form-control" ,placeholder: "メモを入力" %>
    </div>

    <div class="col-md-6 mt-2">
      <%= f.submit "保存", class:"btn btn-outline-primary"%>
      <%= link_to "キャンセル", :posts, class:"btn btn-outline-danger" %>
    </div>
  <% end %>
</div>
